@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.85);*/
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9;
  z-index: 9999;
  color: red;
}

/* for testing purposes */

body {
  margin: 80px 10px 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

.box {
  /* padding: 20px; */
  margin-top: 50px;
  border: 1px solid #000;
  position: relative;
}

.overlay {
  text-align: center;
}

.overlay::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.smiley {
  vertical-align: middle;
  height: 75%;
  object-fit: contain;
}

.smiley::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3
    both;
}
/* 
.animation {
  transform: rotateY(100deg);

  transform-origin: 100%, center;
} */

.txt {
  /* display: inline-block; */

  padding: 10px 15px;
  font-weight: bold;
}
